h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

/*Containers*/
.container-fluid {
    max-width: 810px;
    padding: 10% 10%;
}

/*Heading*/
.jumbotron {
    background: no-repeat center right fixed url(../images/sea.jpg);
    background-size: cover;
}

/*.jumbotron .overlay {*/
/*    background-color: #e7e7de;*/
/*    position: absolute;*/
/*    top: 0px;*/
/*    bottom: 0px;*/
/*    left: 0px;*/
/*    right: 0px;*/
/*    opacity: 0.2;*/
/*    z-index: 2;*/
/*}*/

.heading {
    text-align: center;
    color: white;
    padding: 20% 0;
}

/*Sections*/
.section-title {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 2%;
}

.colored-section {
    background: #e7e7de;
    color: #0f3057;
}

/*Profile*/
.profile-img {
    height: 200px;
    float: right;
    position: relative;
    margin-right: 3rem;
}
.profile-description {
    float: left;
    position: absolute;
    right: 3rem;
}

/*Skills*/
.no-bullets {
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.customized-star {
    float: right;
}

.no-bullets li:hover {
    background: #f6f5f5;
}

.no-bullets li:hover .skill-level{
    letter-spacing: 5px;
    transition: all .3s;
}

/*Contact-me*/
.contact-icon {
    font-size: 2rem;
    float: left;
}

.contact-content {
    position: relative;
    top: 2px;
    left: 1px;
}
