h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

/*Containers*/
.container-fluid-extended {
    max-width: 810px;
    padding: 10% 10%;
}

/*Heading*/
.jumbotron-extend {
    background: url(../images/sea.jpg) fixed no-repeat center center;
    position: relative;
    height: 100vh;
    min-height: 300px;
    background-size: cover;
}

.jumbotron .overlay {
    background-color: #e7e7de;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4;
    z-index: 2;
}

.jumbotron .container {
    position: relative;
    top: 40%;
    text-align: center;
    color: #0f3057;
    z-index: 3;
}

/*Sections*/
.section-title {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 2%;
}

.colored-section {
    background: #e7e7de;
    color: #0f3057;
}

/*Profile*/
.profile-img-container{
    text-align: right;
}

.profile-img {
    height: 12.5rem;
    position: relative;
    margin-right: 3rem;
}

.profile-description {
    text-align: left;
    position: relative;
}

@media (max-width: 991px) {
    .profile-img-container{
        text-align: center;
    }
    .profile-img {
        margin-right: 0;
    }
    .profile-description {
        text-align: center;
    }
}

/*Skills*/
.no-bullets {
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.customized-star {
    float: right;
}

#skills .no-bullets li:hover {
    background: #f6f5f5;
}

#skills .no-bullets li:hover .skill-level{
    letter-spacing: 5px;
    transition: all .3s;
}

/*Portfolio*/
.portfolio {
    position: relative;
    text-align: center;
}

.card-extended {
    margin: 1rem 0;
}

/*Contact-me*/
#contact-me {
    background: #008891;
    color: black;
}

#contact-me .no-bullets {
    text-align: left;
}

.contact-icon {
    font-size: 2rem;
    float: left;
}

#contact-me a {
    color: black;
    font-size: 14px;
}

#contact-me .no-bullets li:hover a {
    color: #e7e7de;
}

.contact-link {
    margin-left: 1rem;
}

/*Footer*/

.footer-container {
    text-align: center;
    padding: 1% 0;
}

#footer {
    background: grey;
    font-size: 10px;
}

#footer a {
    color: black;
}

#footer p {
    margin-bottom: 0;
}
